body {
	font: bold 14px "PT Sans Narrow", "Arial", sans-serif;
	line-height: 24px;
	color: #000000;
}

.main-header {
	background: #000000;
}

.main-navigation a {
	font: bold 16px "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.login {
	font: bold 16px "PT Sans Narrow", "Arial", sans-serif; 
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;	
}

.main-title {
	font: bold 30px "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
}

.sub-title {
	font-size: bold 24px "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;	
}

.promo-title {
	font-size: bold 48px "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;	
}